body {
  width: 100wh;
  height: 100vh;
}

.background {
  color: #fff;
  background-size: 400% 600%;
  -webkit-animation: Gradient 05s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
}

.gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 600%;
}

.gradient::-webkit-scrollbar {
  width: 6px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e);
}

.gradient::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(-45deg, #23a6d5, #23d5ab);
}

.dark {
  background: linear-gradient(-45deg, #1d1d1d, #333333, #4b4b4b, #5a5a5a);
  background-size: 400% 600%;
}

.dark::-webkit-scrollbar {
  width: 6px;
  background: linear-gradient(-45deg, #131313, #302e2e);
}

.dark::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(-45deg, #cacaca, #f3f2f3);
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.backdrop {
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}

.profile {
  width: 120px;
  height: 120px;
  background-image: url('./Assets/me.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.my-btn {
  width: 80%;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-weight: 600 !important;
  white-space: normal !important;
}

.footer {
  margin: auto;
  width: 60%;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px 0 30px;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #535353;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background: linear-gradient(90deg, #e73c7e, #23a6d5);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
