:root::-webkit-scrollbar {
    display: none;
    overflow-x: hidden;
}

body,
html {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #131313;
}

.stagger-visualizer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
}

.stagger-visualizer div {
    width: 64px;
    height: 128px;
    border: 1px solid #dfdfdf;
    background-color: #131313;
}

@media (max-width: 550px) {
    .stagger-visualizer {
        width: 150px;
        height: 150px;
    }
    .stagger-visualizer div {
        width: 32px;
        height: 64px;
    }
}